body {
	 font-size: 12px;
	 line-height: 1.4;
	 font-family: 'Open Sans', sans-serif;
}

.container {
	width: 1200px;
	margin: auto;
/*	height: 500px;*/
}

.container1 {
	background: url(../images/header_bg.jpg) no-repeat center top rgb(134,141,157);
	/*  overflow: auto;*/
	height: 700px;
}

header {
	color: white;
	font-size: 40px;
	font-weight: 800; 
	margin-left: 10%;
	padding-top: 2%;
}

.motto {
	color: white;
	font-size: 40px;
	font-weight: 600; 
	text-align: center;
	margin-top: 10%;
}

.button1 {
	background: yellow;
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	text-align: center;
	margin-top: 8%;
	margin-left: 40%;
	padding: 7px 25px;
	border: none;
	border-radius: 5px;
	width: 20%;
	height: 7%;
}

.container2 {
	background-color: #EAEAEA;
	height: 450px;
}

.title2 {
	color: #090969;
	font-size: 40px;
	font-weight: 600; 
	padding-top: 5%;
	padding-left: 7%;	
}

.caption {
	font-size: 20px;
	font-weight: 300; 
	padding-top: 3%;
	padding-left: 7%;	
	width: 42%;
}

ul {
	font-size: 20px;
	font-weight: 300; 
	padding-top: 1%;
	padding-left: 15%;	
	width: 42%;
	list-style-type: disc;
}


.container3 {
	background: url(../images/testimonial_bg.jpg) no-repeat center top rgb(134,141,157);
	height: 350px;
}

#quote {
	color: white;
	font-size: 20px;
	font-weight: 300;
	text-align: center;
	padding-top: 8%;
	width: 30%;
	margin: auto;
	font-style: italic;
}

.citation {
	padding-top: 2%;
	color: white;
	font-size: 24px;
	font-weight: 600;
	margin: auto;
	width: 30%;
	text-align: center;
}

.container4 {
	background-color: yellow;
	height: 125px;
}

.button2 {
	color: white;
	background: #090969;
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	text-align: center;
	border: none;
	border-radius: 5px;
	width: 20%;
	height: 40%;
	margin: 3% 40%;
}

.title3 {
	height: 100px;
	background-color: black;
	color: yellow;
	font-weight: 800;
	font-size: 40px;
	padding-top: 5%;
	text-align: center;
}

footer {
	height: 100px;
	background-color: black;
/*	padding-left: 45%;*/
	color: white;
	font-weight: 600;
	text-align: center;
}

.logos {
	margin: 10px;
}
